<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- $Id: log4j.xml,v 1.1 2008/11/15 08:49:49 marco Exp $ -->
<log4j:configuration debug="true"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="logfile"
		class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="warning" />
		<param name="file" value="atc.log" />
		<param name="maximumFileSize" value="500000" />
		<param name="maxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>
	<!-- 
		<category name="org.apache.commons.digester.Digester">
		<priority value="debug" />
		</category>
	-->
	<category name="org.mmarini.sound">
		<priority value="debug" />
	</category>
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
